@charset "UTF-8";
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

@font-face {
  font-family: 'Helve';
  src: url("../fonts/HelveticaNeue.eot");
  src: local("☺"), url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.ttf") format("truetype"), url("../fonts/HelveticaNeue.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveLight';
  src: url("../fonts/HelveticaNeue-Light.eot");
  src: local("☺"), url("../fonts/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelveticaNeue-Light.ttf") format("truetype"), url("../fonts/HelveticaNeue-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  overflow-x: hidden;
}

#main {
  height: 4452px;
  /* 6332px = 0.7030953885 */
  width: 100%;
  /* 1920px */
  margin: auto;
}
#main header {
  height: 2.8427037271%;
}
#main header #logo-phone {
  height: 26.6666666667%;
  margin-top: 30.1px;
}
#main header #logo-phone .col-lg-12 {
  display: flex;
  position: relative;
  padding: 0;
}
#main header #logo-phone .col-lg-12 #logo {
  width: 9.0625%;
  height: 100%;
  margin-left: 14.4791666667%;
}
#main header #logo-phone .col-lg-12 #hotline {
  width: 12.8645833333%;
  height: 58.3333333333%;
  position: absolute;
  right: 12.2916666667%;
  line-height: 1.3;
  text-align: left;
  font-weight: normal;
  font-family: Helve;
  font-size: 14px;
}
#main header #logo-phone .col-lg-12 #hotline span#hotline-text {
  color: #264c5d;
}
#main header #logo-phone .col-lg-12 #hotline span#hotline-phone {
  color: #f8931e;
  font-weight: bold;
  font-stretch: normal;
}
#main header #logo-phone .col-lg-12 #phone {
  width: 8.0208333333%;
  height: 41.6666666667%;
  position: absolute;
  left: 78.28125%;
  top: 58.3333333333%;
  font-family: Helve;
  font-size: 15px;
  line-height: 1;
  color: #264c5d;
}
#main header nav {
  padding: 0;
  height: 18px;
  width: 67%;
  text-transform: uppercase;
  margin-left: 14.4791666667%;
  margin-top: 29px;
}
#main header nav a {
  margin-right: 0;
}
#main header nav a img {
  display: none;
}
#main header nav div ul li a {
  padding: 0 10px;
  font-weight: bold;
  font-family: Helve;
  color: #264c5d;
  font-size: 14px;
  line-height: 1;
}
#main header nav div ul li a:hover {
  color: blue;
}
#main header nav div ul li #a-first {
  padding-left: 0px;
}
#main header nav div ul li div.dropdown-menu {
  width: 239px;
  height: 166px;
  opacity: 0.82;
  background-color: #264c5d;
  padding: 0;
}
#main header nav div ul li div.dropdown-menu a {
  color: white;
  padding: 14.5px 22px;
  text-transform: none;
  font-size: 15px;
  font-family: Helve;
  font-weight: 400;
  font-family: Helve;
}
#main header nav div ul li div.dropdown-menu a:hover {
  background: linear-gradient(135deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
  transition: .5s all;
  opacity: 0.82;
}
#main header nav div ul li div.show {
  border-radius: 0 0 5px 5px;
  margin-top: 24px;
}
#main header nav div ul div#search-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0px;
  line-height: 1;
}
#main header nav div ul div#search-icon a {
  color: #264c5d;
}
#main header nav div ul div#search-icon a i {
  font-size: 15px;
}
#main header #space-header {
  height: 24px;
  margin-top: 22px;
  background: #f2f2f2;
}
#main section#content {
  height: 13.2027795325%;
  background: url("../images/slide.jpg") no-repeat center center;
  background-size: 100% 100%;
  width: 100%;
}
#main section#content .row div h1 {
  font-size: 28px;
  font-family: Helve;
  color: #163645;
  font-weight: bold;
  margin-top: 27px;
  margin-bottom: 0px;
}
#main section#content .row#mota {
  height: 16.1483253589%;
  margin-top: 18px;
  padding: 0 21.6666666667%;
  font-family: 'Helve';
  color: #163645;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  font-size: 15px;
}
#main section#content .row#dangkythietke {
  height: 6.3397129187%;
  margin-top: 15px;
}
#main section#content .row#dangkythietke div {
  padding: 0;
}
#main section#content .row#dangkythietke div a:hover {
  text-decoration: none;
}
#main section#content .row#dangkythietke div a #btn-dangkythietke {
  width: 11.9791666667%;
  height: 37px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: #f8931e;
  color: #f1f1f2;
  font-family: 'Helve';
  text-transform: uppercase;
  line-height: 37px;
  font-size: 13px;
  font-weight: bold;
}
#main section#content hr {
  opacity: 0.5;
  height: 1px;
  background: #264c5d;
  margin: 0 27.65625%;
  margin-top: 47px;
}
#main section#content .row#danhsach div h2 {
  font-size: 25px;
  font-family: Helve;
  color: #264c5d;
  font-weight: bold;
  margin: 0;
  margin-top: 31px;
}
#main section#content .row#duan {
  height: 29%;
  font-family: 'Helve';
  color: #f8931e;
  padding: 0 30.2604166667%;
  padding-top: 25px;
  padding-right: 25%;
}
#main section#content .row#duan .col-6 {
  padding: 7px 0px;
}
#main section#demothietke {
  height: 9.823120657%;
}
#main section#demothietke:last-child {
  background: lime;
}
#main section#demothietke .row {
  position: relative;
}
#main section#demothietke .row #tenduan {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 43px;
}
#main section#demothietke .row #tenduan:first-child {
  margin-top: 69px;
}
#main section#demothietke .row #tenduan .line-left {
  width: 7.1875%;
  height: 2px;
  background: #264c5d;
}
#main section#demothietke .row #tenduan h4 {
  margin: 0;
  padding-left: 12px;
  padding-right: 15px;
  color: #264c5d;
  font-weight: bold;
}
#main section#demothietke .row #tenduan .line-right {
  width: 7.1875%;
  height: 2px;
  background: #264c5d;
}
#main section#demothietke .row #carousel {
  padding-top: 20px;
  margin: 0 14.4791666667%;
}
#main section#demothietke .row #carousel div div div.carousel-item {
  padding: 0;
  height: 257px;
}
#main section#demothietke .row #carousel div div div.carousel-item #chua-item {
  width: 95%;
  height: 100%;
  background: #f1f1f2;
  border-radius: 5px;
  padding-top: 20px;
}
#main section#demothietke .row #carousel div div div.carousel-item #chua-item .panel {
  height: 50%;
}
#main section#demothietke .row #carousel div div div.carousel-item #chua-item .panel div {
  padding-top: 0px;
}
#main section#demothietke .row #carousel div div div.carousel-item #chua-item .panel div div.mo-ta-du-an {
  color: #264c5d;
  font-family: 'Helve';
  padding-left: 9px;
  padding-right: 28px;
  font-weight: bold;
  line-height: 1;
  height: 42px;
  font-size: 13px;
  margin-top: 7px;
}
#main section#demothietke .row #carousel div div div.carousel-item #chua-item .panel div div.tin-noi-that {
  color: #9a9a9a;
  font-family: 'Helve';
  padding-left: 9px;
  margin-top: 14px;
  font-size: 15px;
}
#main section#demothietke .row #carousel a span.carousel-control-prev-icon {
  width: 60px;
  height: 60px;
  background-color: #5c5c5c;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  left: 0%;
  top: 55%;
  transform: translate(-50%, -50%);
}
#main section#demothietke .row #carousel a span.carousel-control-prev-icon:active {
  opacity: 0.8;
  background-color: #264c5d;
}
#main section#demothietke .row #carousel a span.carousel-control-prev-icon .tamgiac-trai {
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-right: 16px solid white;
  border-bottom: 14px solid transparent;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
#main section#demothietke .row #carousel a span.carousel-control-next-icon {
  width: 60px;
  height: 60px;
  background-color: #5c5c5c;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  right: -34%;
  top: 55%;
  transform: translate(-50%, -50%);
  background-image: none;
}
#main section#demothietke .row #carousel a span.carousel-control-next-icon:active {
  opacity: 0.8;
  background-color: #264c5d;
}
#main section#demothietke .row #carousel a span.carousel-control-next-icon .tamgiac-phai {
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-left: 16px solid white;
  border-bottom: 14px solid transparent;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
#main section#demothietke .row #btn-xem-them {
  height: 37.8px;
  width: 8.4895833333%;
  border: 1px solid #f8931e;
  margin: 0 auto;
  display: inline-block;
  margin-top: 26px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #f8931e;
  font-family: 'Helve';
  line-height: 37.8px;
  text-align: center;
}
#main section#demothietke .row #btn-xem-them p {
  display: inline-block;
  vertical-align: middle;
}
#main section#space-content {
  height: 24px;
  margin-top: 32px;
  background: #f2f2f2;
}
#main footer#thongtin {
  height: 26.2792166772%;
}
#main footer#thongtin .row {
  padding-left: 15.5729166667%;
  padding-right: 13.2291666667%;
  padding-top: 33.6px;
}
#main footer#thongtin .row .col-lg-6 {
  padding: 0;
}
#main footer#thongtin .row .col-lg-6 .ve-decox {
  width: 100%;
  height: 280px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid rgba(112, 112, 112, 0.3);
}
#main footer#thongtin .row .col-lg-6 .ve-decox a img {
  width: 100%;
  padding: 2px 9px 9px;
}
#main footer#thongtin .row .col-lg-6 .ve-decox h3 {
  font-weight: bold;
  font-family: 'Helve';
  color: #163645;
  font-size: 20px;
  padding-left: 9px;
  height: 25px;
  line-height: 25px;
}
#main footer#thongtin .row .col-lg-6 .ve-decox p {
  color: #163645;
  font-family: 'Helve';
  padding-left: 9px;
  font-size: 13px;
}
#main footer#thongtin .row .col-lg-6 .ve-decox #btn-xem-ngay {
  width: 151.2px;
  height: 47.6px;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
  background-color: #f8931e;
  font-family: 'Helve';
  text-align: center;
  padding: 0;
  margin-top: 20px;
}
#main footer#thongtin .row .col-lg-6 .ve-decox #btn-xem-ngay p#text {
  color: #f1f1f2;
  vertical-align: middle;
  padding-left: 0px;
  line-height: 47.6px;
}
#main footer#thongtin .row .col-lg-6:last-child {
  padding-left: 5px;
}
#main footer#thongtin .row .col-lg-6 .quy-trinh-lam-viec {
  height: 100%;
  border-radius: 5px;
  border: 1px solid rgba(112, 112, 112, 0.3);
}
#main footer#thongtin .row .col-lg-6 .quy-trinh-lam-viec img {
  width: 54%;
  height: 100%;
  float: left;
}
#main footer#thongtin .row .col-lg-6 .quy-trinh-lam-viec p {
  font-family: 'Helve';
  color: #163645;
  font-weight: bold;
  font-size: 15px;
  padding-top: 79.8px;
  padding-left: 17.5px;
  padding-right: 33.6px;
  width: 46%;
  float: left;
}
#main footer#thongtin .row .col-lg-6 .quy-trinh-lam-viec p.trinh-tu {
  font-family: 'Helve';
  color: #163645;
  font-size: 13px;
  padding-left: 17.5px;
  padding-right: 33.6px;
  float: left;
  padding-top: 0px;
  width: 46%;
}
#main footer#thongtin .row .col-lg-6 .quy-trinh-lam-viec p.xem-them {
  color: #f8931e;
  font-family: 'Helve';
  font-size: 14px;
  padding-left: 17.5px;
  float: left;
  padding-top: 0px;
  font-weight: normal;
}
#main footer#thongtin .row .col-lg-6 .quy-trinh-lam-viec p.xem-them i {
  border: solid  #f8931e;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}
#main footer#thongtin .row#footer-danhsach {
  padding: 0;
  color: #050505;
  margin-top: 53.9px;
}
#main footer#thongtin .row#footer-danhsach .col-12 h2 {
  margin-bottom: 0px;
  font-size: 20px;
  font-family: 'Helve';
  font-weight: bold;
}
#main footer#thongtin .row#footer-duan {
  padding-left: 30.2604166667%;
  padding-right: 25%;
  padding-top: 18px;
  font-family: 'Helve';
  color: #f8931e;
  font-weight: normal;
}
#main footer#thongtin .row#footer-duan .col-lg-4 {
  padding: 6px 0;
}
#main footer#thongtin #footer-end {
  background: #e6e6e6;
  height: 54.0865384615%;
  margin: 0 -15px;
}
#main footer#thongtin #footer-end .row#footer-logo {
  padding: 0;
  padding-top: 17.5px;
  padding-left: 19.5833333333%;
}
#main footer#thongtin #footer-end .row#footer-logo .col-lg-12 {
  padding: 0;
}
#main footer#thongtin #footer-end .row#footer-logo .col-lg-12 img {
  width: 12%;
}
#main footer#thongtin #footer-end .row#footer-content {
  padding: 0 19.5833333333%;
}
#main footer#thongtin #footer-end .row#footer-content .col-lg-4 {
  padding: 0;
}
#main footer#thongtin #footer-end .row#footer-content .col-lg-4 h5 {
  color: #163645;
  font-weight: bold;
  font-family: 'Helve';
  font-size: 15px;
  margin-top: 24.5px;
  margin-bottom: 14.7px;
}
#main footer#thongtin #footer-end .row#footer-content .col-lg-4 .p-cot1 {
  color: #163645;
  font-family: 'Helve';
  font-size: 13px;
  width: 179.2px;
  height: 275.8px;
  line-height: 1.35;
}
#main footer#thongtin #footer-end .row#footer-content .col-lg-4 .p-cot2 {
  color: #f8931e;
  font-family: 'Helve';
  font-size: 13px;
  margin-bottom: 2px;
}
#main footer#thongtin #footer-end .row#footer-content .col-lg-4 img.img-cot3 {
  display: inline-block;
  width: 23%;
}
#main footer#thongtin #footer-end .row#footer-content .col-lg-4 img#icon-youtube {
  width: 23%;
  margin-top: 19.6px;
}
#main footer#thongtin #footer-end .row#footer-content .col-lg-4 img:last-child {
  width: 58%;
  margin-top: 25.9px;
  display: block;
}
#main footer#thongtin #footer-end .row#footer-content .col-lg-4 .p-cot3 {
  display: inline;
}
#main footer#thongtin #footer-end .row#footer-content .col-lg-4 p#text-youtube {
  position: absolute;
  top: 161px;
  left: 71px;
}
#main footer#thongtin #footer-end .row#footer-content .col-lg-8 {
  padding: 0;
  margin-top: 25.9px;
  padding-right: 56px;
  margin-bottom: 50px;
}
#main footer#thongtin #footer-end .row#footer-content .col-lg-8 p {
  margin-bottom: 3px;
  font-family: 'Helve';
  color: #163645;
  font-weight: normal;
  font-size: 15px;
}
#main footer#thongtin #footer-end .row#footer-content .col-lg-8 p span {
  font-weight: bold;
  color: #f8931e;
}
#main footer#thongtin #footer-end .row#footer-content .col-lg-4 {
  margin-top: 13.3px;
}

/*# sourceMappingURL=style.css.map */
